In [1]:
import pandas as pd

In [8]:
df1= pd.read_excel('./data/서울시 정류소현황(2019~2023년).xlsx')
df1.rename(columns = {'ARS-ID':'ARS_ID'},inplace=True)
df1= df1.iloc[:, 1:4]
df1p2023 = p2023.groupby('자치구코드').mean()

      행정구명  ARS_ID           정류소명
0      종로구    1001        종로2가사거리
1      종로구    1002    창경궁.서울대학교병원
2      종로구    1003      명륜3가.성대입구
3      종로구    1004       종로2가.삼일교
4      종로구    1005  혜화동로터리.여운형활동터
...    ...     ...            ...
11255  강동구   25995          우성아파트
11256  강동구   25996          우성아파트
11257  강동구   25997           조일약국
11258  강동구   25998           성내시장
11259  강동구   25999    천호우체국.로데오거리

[11260 rows x 3 columns]

In [7]:
df2= pd.read_excel('./data/서울시버스정류소위치정보(20231215).xlsx')
df2= df2.iloc[:, 1:5]
df2

       ARS_ID           정류소명         X좌표        Y좌표
0        1001        종로2가사거리  126.987752  37.569806
1        1002    창경궁.서울대학교병원  126.996521  37.579433
2        1003      명륜3가.성대입구  126.998251  37.582580
3        1004       종로2가.삼일교  126.987613  37.568579
4        1005  혜화동로터리.여운형활동터  127.001744  37.586243
...       ...            ...         ...        ...
11286   25995          우성아파트  127.139339  37.550386
11287   25996          우성아파트  127.140046  37.550643
11288   25997           조일약국  127.123596  37.533630
11289   25998           성내시장  127.125497  37.536155
11290   25999    천호우체국.로데오거리  127.127337  37.540343

[11291 rows x 4 columns]

In [9]:
df = pd.merge(df2, df1, how='left', on='ARS_ID')
df

       ARS_ID         정류소명_x         X좌표        Y좌표 행정구명         정류소명_y
0        1001        종로2가사거리  126.987752  37.569806  종로구        종로2가사거리
1        1002    창경궁.서울대학교병원  126.996521  37.579433  종로구    창경궁.서울대학교병원
2        1003      명륜3가.성대입구  126.998251  37.582580  종로구      명륜3가.성대입구
3        1004       종로2가.삼일교  126.987613  37.568579  종로구       종로2가.삼일교
4        1005  혜화동로터리.여운형활동터  127.001744  37.586243  종로구  혜화동로터리.여운형활동터
...       ...            ...         ...        ...  ...            ...
11287   25995          우성아파트  127.139339  37.550386  강동구          우성아파트
11288   25996          우성아파트  127.140046  37.550643  강동구          우성아파트
11289   25997           조일약국  127.123596  37.533630  강동구           조일약국
11290   25998           성내시장  127.125497  37.536155  강동구           성내시장
11291   25999    천호우체국.로데오거리  127.127337  37.540343  강동구    천호우체국.로데오거리

[11292 rows x 6 columns]

In [11]:
df.isnull().sum()

ARS_ID      0
정류소명_x      0
X좌표         0
Y좌표         0
행정구명      421
정류소명_y    421
dtype: int64

In [12]:
df.to_csv("버스정류소1차전처리.csv", encoding='CP949')

In [13]:
# 직접 null값 채움

In [19]:
df= pd.read_csv('버스정류소1차전처리.csv', encoding='CP949')
df= df.iloc[:, 1:6]

In [20]:
df

       ARS_ID         정류소명_x         X좌표        Y좌표 행정구명
0        1001        종로2가사거리  126.987752  37.569806  종로구
1        1002    창경궁.서울대학교병원  126.996521  37.579433  종로구
2        1003      명륜3가.성대입구  126.998251  37.582580  종로구
3        1004       종로2가.삼일교  126.987613  37.568579  종로구
4        1005  혜화동로터리.여운형활동터  127.001744  37.586243  종로구
...       ...            ...         ...        ...  ...
11287   25995          우성아파트  127.139338  37.550386  강동구
11288   25996          우성아파트  127.140046  37.550643  강동구
11289   25997           조일약국  127.123596  37.533630  강동구
11290   25998           성내시장  127.125497  37.536155  강동구
11291   25999    천호우체국.로데오거리  127.127337  37.540343  강동구

[11292 rows x 5 columns]

In [23]:
df.rename(columns = {'정류소명_x':'정류소명'},inplace=True)
df = df[['ARS_ID', '행정구명', '정류소명', 'X좌표', 'Y좌표']]
df

       ARS_ID 행정구명           정류소명         X좌표        Y좌표
0        1001  종로구        종로2가사거리  126.987752  37.569806
1        1002  종로구    창경궁.서울대학교병원  126.996521  37.579433
2        1003  종로구      명륜3가.성대입구  126.998251  37.582580
3        1004  종로구       종로2가.삼일교  126.987613  37.568579
4        1005  종로구  혜화동로터리.여운형활동터  127.001744  37.586243
...       ...  ...            ...         ...        ...
11287   25995  강동구          우성아파트  127.139338  37.550386
11288   25996  강동구          우성아파트  127.140046  37.550643
11289   25997  강동구           조일약국  127.123596  37.533630
11290   25998  강동구           성내시장  127.125497  37.536155
11291   25999  강동구    천호우체국.로데오거리  127.127337  37.540343

[11292 rows x 5 columns]

In [25]:
df.to_csv("BUS_STOP_COORDINATE.csv", encoding='CP949', index=False)

In [26]:
df

       ARS_ID 행정구명           정류소명         X좌표        Y좌표
0        1001  종로구        종로2가사거리  126.987752  37.569806
1        1002  종로구    창경궁.서울대학교병원  126.996521  37.579433
2        1003  종로구      명륜3가.성대입구  126.998251  37.582580
3        1004  종로구       종로2가.삼일교  126.987613  37.568579
4        1005  종로구  혜화동로터리.여운형활동터  127.001744  37.586243
...       ...  ...            ...         ...        ...
11287   25995  강동구          우성아파트  127.139338  37.550386
11288   25996  강동구          우성아파트  127.140046  37.550643
11289   25997  강동구           조일약국  127.123596  37.533630
11290   25998  강동구           성내시장  127.125497  37.536155
11291   25999  강동구    천호우체국.로데오거리  127.127337  37.540343

[11292 rows x 5 columns]

In [31]:
df1 = df.groupby('행정구명').count()
df1.rename(columns = {'ARS_ID':'정류소합계'},inplace=True)

In [33]:
df1= df1.iloc[:, :1]
df1

      정류소합계
행정구명
강남구     560
강동구     407
강북구     412
강서구     621
관악구     488
광진구     293
구로구     513
금천구     357
노원구     520
도봉구     369
동대문구    319
동작구     456
마포구     586
서대문구    467
서초구     656
성동구     454
성북구     599
송파구     509
양천구     338
영등포구    513
용산구     351
은평구     506
종로구     388
중구      225
중랑구     385

In [34]:
df1.to_csv("BUS_STOP_COUNT.csv", encoding='CP949', index=False)